

body {
    margin: 0;
    padding: 0;
    background-color: #94807A;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.contact-box{
    background-color: #4a3931;
    color:#d7d0cd;
    padding: 50px;
} 

.main-heading{
    color: #4a3931;
}
.square-column {
    position: relative;
    width: 100%;
    padding-top: 100%; /* This creates a 1:1 aspect ratio (square) */
    background-color: blue;
    margin: 10px;
}
.square-column::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ddd; /* Optional: Add a border for visual clarity */
}
.form-box{
    border-radius: 10px;
    background-color: #d7d0cd;
    padding: 20px;
    color: #7e5d50;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}
.form-input-box{
    background-color: transparent;
    border-color: #7e5d50;
    border-radius: 20px;
    padding-left: 7px;
    color: #7e5d50;
    border-width: 1px;
}
.bolding{
    font-weight: bold;
}
.form-button{
    background-color: transparent;
    width: 25%;
    border-radius: 4px;
    border-color: #7e5d50;
    color: #7e5d50;
    border-width: 1px;
    transition: background-color 0.3s, color 0.3s;
}
.form-button:hover{
    background-color: #7e5d50;
    color: #d7d0cd;
}